<% layout('layouts/compBoiler') %>

<div class="container mt-5">
    <h1 class="text-center">This is my profile!</h1>      
  <div class="row justify-content-around mt-3 mb-5">
    <div class="col-3">
        <label for="cgpa" class="form-label">CGPA</label>
        <select class="form-select" aria-label="Default select example" id="cgpa">
            <option selected>All</option>
            <option value="40">&gt; 40%</option>
            <option value="60">&gt; 60%</option>
            <option value="75">&gt; 75%</option>
        </select>
      </div>
    <div class="col-3">
        <label for="placed" class="form-label">Placement Status</label>
        <select class="form-select" aria-label="Default select example" id="placed">
            <option selected>All</option>
            <option value="true">Placed</option>
            <option value="false">Not Placed</option>
          </select>
    </div>
    <div class="col-3">
        <label for="Branch" class="form-label">Branch</label>
        <select class="form-select" aria-label="Default select example" id=Branch">
            <option selected>All</option>
            <% for(let branch of branches){ %> 
                <option value="<%= branch %>"><%= branch %></option>
            <% } %>           
        </select>
    </div>
  </div>
  <div class="row justify-content-around">
  <% for(let s of company.applications) {%> 
    <div class="card" style="width: 18rem; display: inline-block;">
        
        <div class="card-body text-center">
        <h5 class="card-title"><%= s.name %></h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>Branch:</b> <%= s.branch %></li>
          <li class="list-group-item"><b>10th percentage:</b> <%= s.tenth %> </li>
          <li class="list-group-item"><b>12th percentage:</b> <%= s.twelfth %> </li>
          <li class="list-group-item"><b>CGPA:</b> <%= s.cgpa %></li>        
        <!-- <li class="list-group-item">
            <b>Placement Status: </b>
            <div class="d-inline alert alert-%= (s.isPlaced === false) ? 'danger' : 'success' %>" 
                role="alert" style=" margin-left: 5px; padding: 5px;"><i class="bi bi-%= (s.isPlaced === false) ? 'x' : 'check' %>-lg"></i></div>             
        </li> -->
        </ul>
        <div class="card-body text-center">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#a<%=s._id%>" title="Other Information">
            <i class="bi bi-file-earmark-text-fill"></i>
          </button>

        <!-- Modal -->
        <div class="modal fade" id="a<%=s._id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><%= s.name %>'s Information </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="list-group" style="text-align: left;">
                  <li class="list-group-item"><b>PRN:</b> <%= s.prn %></li>
                  <li class="list-group-item"><b>College Email ID:</b> <%= s.college_email %> </li>
                  <li class="list-group-item"><b>Personal Email ID:</b> <%= s.personal_email %> </li>
                  <li class="list-group-item"><b>Contact No.:</b> <%= s.phone %> </li>                              
                </ul>
            </div>
            </div>
        </div>
        </div>
            <a class="btn btn-primary" href="<%= s.resume %>" role="button" title="Resume"><i class="bi bi-file-earmark-person-fill"></i></a>
            
        </div>
    </div>
<% } %> 
  </div>
  </div>