<% layout('layouts/stuBoiler') %>

<div class="container edit-form" style="margin-top: 2.3rem;">
  <div class="row">
    <div class="col-lg-6 col-md-12" >
      <a class="btn btn-outline-danger" href="/student/<%= currentUser._id %>/details" role="button"><i class="bi bi-arrow-bar-left"></i> Go back</a>

      <img src="/img/student-edit.jpg" alt="edit_info" class="img-fluid">
    </div>
    <div class="col-lg-6 col-md-12">
        <h1 class="text-center" style="margin-top: 2rem;">My Profile</h1>
        
            <form class="row g-3 validatedForm" action="/student/<%=s._id%>?_method=PUT" method="POST" enctype="multipart/form-data" novalidate>
                <div class="col-md-6">
                  <label for="fullname" class="form-label">Fullname</label>
                  <input type="text" class="form-control" id="fullname" name="name" value='<%= s.name %>' required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="col-md-6">
                  <label for="prn" class="form-label">PRN</label>
                  <input type="string" class="form-control" id="prn" value="<%= s.prn %>" name="prn" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="col-md-6">
                  <label for="branch" class="form-label">Branch</label>
                  <select class="form-select" id="branch" name="branch" required>
                    <% for(let branch of branches){ %> 
                      <option value="<%= branch %>" <%= s.branch === branch ? 'selected' : ''%> ><%= branch %></option>
                      <% } %>
                  </select>
                  <div class="valid-feedback">
                    Looks good!
                  </div> 
                </div>                
                <div class="col-md-6">
                  <label for="phone" class="form-label">Phone Number</label>
                  <input type="string" class="form-control" id="phone" value="<%= s.phone %>" name="phone" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="col-md-6">
                  <label for="personal" class="form-label">Personal Email ID</label>
                  <input type="string" class="form-control" id="personal" value="<%= s.personal_email %>" name="personal_email" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="col-md-6">
                  <label for="college" class="form-label">College Email ID</label>
                  <input type="string" class="form-control" id="college" value="<%= s.college_email %>" name="college_email" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="col-md-4">
                  <label for="tenth" class="form-label">10th Percentage</label>
                  <input type="number" step=".01" class="form-control" id="tenth" name="tenth" value="<%= s.tenth %>" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div> 
                <div class="col-md-4">
                  <label for="twelfth" class="form-label">12th Percentage</label>
                  <input type="number" step=".01" class="form-control" id="twelfth" name="twelfth" value="<%= s.twelfth %>" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>                
                <div class="col-md-4">
                  <label for="cgpa" class="form-label">CGPA (%)</label>
                  <input type="number" step=".01" class="form-control" id="cgpa" name="cgpa" value="<%= s.cgpa %>" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div>
                    <label for="resume" class="form-label">Resume</label>
                    <input class="form-control" type="file" id="resume" name="resume">
                </div>
                <!-- <div class="col-12">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                      Check me out
                    </label>
                  </div>
                </div> -->
                <div class="col-12 my-4">
                  <button type="submit" class="btn btn-login"><i class="bi bi-person-check"></i> Save</button>
                </div>
              </form>
        </div>
    </div>
</div>
