<% layout('layouts/staffBoiler') %>
    <div class="container" style="text-align: center;">
        <% for(let c of companies) {%> 
         
        <div class="card" style="width: 18rem; display: inline-block;">
            <div class="card-body text-center">
            <h5 class="card-title"><%= c.name %></h5>
            </div>
            <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Role:</b> <%= c.role %></li>
            <li class="list-group-item"><b>Package:</b> <%= c.package %> LPA</li>
            <li class="list-group-item"><b>Date:</b> <%= c.date %></li>
            <li class="list-group-item">
              <b>For:</b> 
              <% for(var i=0; i < c.branch.length; i++) { %>
              <%= c.branch[i] %> 
              <% } %> 
            </li>
            </ul>
            <div class="card-body text-center">
                <a class="btn btn-outline-danger" href="/staff/<%= currentUser._id %>/<%= c._id%>/editComp" role="button" title="edit"><i class="bi bi-pencil-fill"></i></a>      
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#a<%=c._id%>" title="Hiring Information">
                    <i class="bi bi-file-earmark-text-fill"></i>
                </button>

                <!-- Modal -->
                <div class="modal fade" id="a<%=c._id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><%= c.name %> Hiring Information </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <ul class="list-group" style="text-align: left;">
                        <li class="list-group-item"><b>Location:</b> <%= c.location %> </li>
                        <li class="list-group-item"><b>Percentage cut-off (cgpa):</b> <%= c.eligibility %> </li>
                        <li class="list-group-item"><b>Job Description:</b><br> <%=c.hiringInfo%> </li>                             
                      </ul>                        
                    </div>
                    </div>
                </div>
                </div>
                <form action="/staff/<%= currentUser._id %>/companies/<%=c._id%>?_method=DELETE" method="POST" class="d-inline">
                    <button class="btn btn-outline-danger" title="delete"><i class="bi bi-trash-fill"></i></button>
                </form>
            </div>
        </div>
        <% } %> 
        </div>
