<% layout('layouts/staffBoiler') %>
<div class="container edit-form">
  <div class="row">
    <div class="col-lg-6 col-md-12" style="margin-top: 2rem;">
      <a class="btn btn-outline-danger mt-3" href="/staff/<%= currentUser._id %>/company" role="button"><i class="bi bi-arrow-bar-left"></i> Go back</a>

      <img src="/img/edit-info.jpg" alt="edit_info">
    </div>
    <div class="col-lg-6 col-md-12">
      <h1 class="text-center">Edit the information for <%= company.name %> </h1>
    <form action="/staff/<%= currentUser._id %>/companies/<%= company._id %>?_method=PUT" method="POST" novalidate class="validatedForm row g-3">
        <div class="col-md-6">
          <label for="date" class="form-label">Enter date for the next round:</label>
          <input type="text" class="form-control" id="date" name="company[date]" value="<%= company.date %>" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md-6">
          <label class="form-label" for="package">Enter the package:</label>
          <input type="number" step=".01" class="form-control" id="package" name="company[package]" value="<%= company.package %>" required>
          <div class="valid-feedback">
            Looks good!
          </div>      
        </div>        
        <div class="col-md-6">
            <label class="form-label" for="role">Enter the job role:</label>
            <input type="text" class="form-control" id="role" name="company[role]" value="<%= company.role%>" required>
            <div class="valid-feedback">
              Looks good!
            </div>      
        </div>
        <div class="col-md-6">
          <label class="form-label" for="eligibility">Enter the percentage cut-off:</label>
          <input type="number" step=".01" class="form-control" id="eligibility" name="company[eligibility]" value="<%= company.eligibility %>" required>
          <div class="valid-feedback">
            Looks good!
          </div>      
        </div> 
        <div class="col-md-12">
          <label class="form-label" for="location">Enter the location:</label>
          <input type="text" class="form-control" id="location" name="company[location]" value="<%= company.location%>" required>
          <div class="valid-feedback">
            Looks good!
          </div>      
      </div> 
        <div class="col-md-12">
          <label class="form-label">Select the branches allowed: </label>
          <% for(var i=0;i<branches.length;i++) {%>
          <div class="form-check">
            <input 
                  class="form-check-input" 
                  type="checkbox" 
                  value="<%=branches[i]%>" 
                  id="<%=branches[i]%>" 
                  name="company[branch]" 
                  <%= company.branch.includes(branches[i]) ? 'checked' : '' %> 
            >
            <label class="form-check-label" for="<%=branches[i]%>">
              <%=branches[i]%>
            </label>
          </div>
          <% } %> 
        </div>

        <div class="col-md-12">
            <label class="form-label" for="info">Enter the information about the hiring process:</label>
            <textarea class="form-control" id="info" name="company[hiringInfo]" required><%= company.hiringInfo %></textarea>
            <div class="valid-feedback">
              Looks good!
            </div>  
        </div>
        <div class="col-12 my-4">
          <button type="submit" class="btn btn-login"><i class="bi bi-person-check"></i> Save</button>
        </div>
      </form>
    </div>
  </div>   
</div>
 

