<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff</title>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    
</head>
<body>
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark" id="homenav">
        <div class="container">
          <a class="navbar-brand" href="#">SYMBIOSIS</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
              <!-- <a class="nav-link active" aria-current="page" href="landing.html">Home</a> -->
              <a class="nav-link" href="/staff/<%= currentUser._id %>">Status</a>
              <a class="nav-link" href="/staff/<%= currentUser._id %>/student">Students</a>
              <a class="nav-link" href="/staff/<%= currentUser._id %>/company">Companies</a>
              <a class="nav-link" href="/logout">Logout</a>
            </div>
          </div>
        </div>
    </nav>
    <%- include('../flash')%>

<div class="container edit-form" style="margin-top: 5rem;">
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <a class="btn btn-outline-danger" href="/staff/<%= currentUser._id %>/student" role="button"><i class="bi bi-arrow-bar-left"></i> Go back</a>

      <img src="/img/edit-info.jpg" alt="edit_info">
    </div>
    <div class="col-lg-6 col-md-12">
    <h1 class="text-center">Edit the information for <%= student.name %> </h1>
    
      <form action="/staff/<%= currentUser._id %>/students/<%=student._id%>?_method=PUT" method="POST" novalidate class="validatedForm row g-3">
        <div class="col-md-6">
          <label for="cgpa" class="form-label">Current CGPA (percentage):</label>
          <input type="number" step=".01" class="form-control" id="cgpa" name="student[cgpa]" value="<%= student.cgpa %>" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md-6">
          <label for="prn" class="form-label">PRN:</label>
          <input type="string" class="form-control" id="prn" name="student[prn]" value="<%= student.prn %>" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-12">
          <label class="form-label" for="branch">Select Branch: </label>
          <select class="form-select" id="branch" name="student[branch]" aria-label="Default select example" required>
            <% for(let branch of branches){ %> 
              <option value="<%= branch %>" <%= student.branch === branch ? 'selected' : ''%> ><%= branch %></option>
              <% } %>           
          </select>
          <div class="valid-feedback">
            Looks good!
          </div> 
        </div>        
        <div class="col-md-6">
            <label class="form-label" for="status">Placement status: </label>
            <select class="form-select" id="status" name="student[isPlaced]" aria-label="Default select example" required>
              <% for(let s of status) {%> 
                <option value="<%= s %>" <%= student.isPlaced.toString() === s ? 'selected' : ''%> ><%= s %></option>
              <% } %>   
            </select>
            <div class="valid-feedback">
              Looks good!
            </div>  
        </div>
        <div class="col-md-6">
          <label for="company" class="form-label">Placed in:</label>
          <input type="string" class="form-control" id="company" name="student[company]" value="<%= student.company %>" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-12 my-4">
          <button type="submit" class="btn btn-login"><i class="bi bi-person-check"></i> Save</button>
        </div>
      </form>
  </div>
  </div>
    
   
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>    
</body>
</html>

