<% layout('layouts/staffBoiler') %>
    <div class="container">
        <table class="table table-striped display" id="example" style="margin-top: 5rem; text-align: center;">
            <thead>
                <tr>
                  <th scope="col">PRN</th>
                  <th scope="col">Name</th>
                  <th scope="col">Branch</th>
                  <th scope="col">Placement Status</th>
                  <th scope="col">Company</th>
                </tr>
              </thead>
            <tbody>
                <% for(let s of students) {%> 
                <tr>
                    <th scope="row"><%= s.prn %></th>
                    <td><%= s.name %></td>
                    <td><%= s.branch %></td>
                    <td><div class="d-inline alert alert-<%= (s.isPlaced === false) ? 'danger' : 'success' %>" 
                        role="alert" style=" margin-left: 5px; padding: 5px;"><%= (s.isPlaced === false) ? 'No' : 'Yes' %></div></td>
                    <td><%= s.company %></td>
                </tr>
                <% } %> 
            </tbody>
        </table>
    </div>
    
    
 